.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;

  /* my styles */
  /* padding-top: 0.5em;
  padding-bottom: 0.5em; */
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;

  /* my styles */
  color: #34495e;
  font-size: 1.25em;
}

.nav-items > ul > li {
  padding: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

/* my styles */
.nav-items > ul > li:hover {
  color: #718daa;
}
